@import './base.css';

* {
  font-family: "Inter" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

span {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

p {
  margin-top: auto;
  margin-bottom: auto;
}

div {
  margin-left: 10px;
  margin-right: 10px;
}

.solid {
  border-top: 10px solid #0E141B;
}

.scrolling-wrapper {
  overflow-x: auto;
}

.subtitle {
  font-size: 1.25em;
  opacity: 0.65;
}

.card-block {
  height: 280px;
  width: 280px;
  margin: 0px;
  background-color: #fff;
  border: none;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out !important;
  border-radius: 10px;
  /* &:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
	} */
}

.card-block-round {
  height: 280px;
  width: 280px;
  margin: 0px;
  background-color: #fff;
  border: none;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out !important;
  border-radius: 50%;
  /* &:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
	} */
}

.card-1 {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-2 {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.card-3 {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.big-icon {
  position: absolute;
  top: 100px;
  width: 250px;
  height: 250px;
  background-color: grey;

  border-radius: 150px;
}

.small-icon1 {
  position: absolute;
  top: 100px;
  width: 250px;
  height: 250px;
  background-color: grey;

  border-radius: 150px;

  font-size: 200px;
}

.add-btn{
  background-color: transparent;
  width: 250px;
  height: 250px;
  border-radius: 150px;
  border-color: transparent
  /* the button size is precisely the size of each icon */
}

.login-btn {
  border-radius: 24px;
  padding: 5px 17px;
  border-color: grey;
  font-weight: bold;
  border-width: 2px;
}

#id {
  background-image: url('../assets/muse_background.jpg');
  height: 100%;
}

h5 {
  color: grey;
}

.empty-btn {
  border-radius: 24px;
  padding: 5px 17px;
  border-color: grey;
  font-weight: bold;
  border-width: 2px;
}

h1 {
  font-size: 109.66px;
  font-weight: 800;
  color: #282828;
}

h2 {
  font-size: 67.78px;
  font-weight: 700;
  color: #282828;
}

h3 {
  font-size: 41.89px;
  font-weight: 600;
  color: #282828;
}

h4 {
  font-size: 25.89px;
  font-weight: 600;
  color: #282828;
}

h4.title {
  font-size: 25.89px;
  font-weight: 600;
  color: #282828;
}

h5.sub-title {
  font-size: 20px;
  font-weight: 500;
  color:grey;
}

h3{
  color: red
}

.square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: gray;
  margin: 0 auto 5px;
  border-radius: 5px;
  position: relative;
}
/* .square::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background-color: white;
  border-radius: 5px;
} */